@charset "UTF-8";

@media screen and (max-width: 480px) {
    html,
    body {
        font-size: 12px;
    }
    .subBody {
        padding-top: 60px;
    }
    /**Sub GNB**/
    .toggleBtn {
        display: block;
    }
    .logo-menubtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 9px 10px 11px 10px;
    }
    .logo-menubtn h1 img {
        vertical-align: middle;
    }
    .searchBtn {
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 40px;
    }
    .m-top-btn {
        display: flex;
    }

    .mainMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
    .mainMenu .logo-menubtn h1 img {
        width: 200px;
    }
    .mainMenu .gnbMenu {
        position: fixed;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow-y: auto;
        z-index: 1;
        transition: 0.3s;
    }
    .mainMenu .gnbMenu.menuOpen {
        left: 0;
    }
    .mainMenu .gnbMenu > li > a {
        font-size: 18px;
        font-weight: 700;
        padding: 16px 20px 10px;
        border-top: 1px solid #999;
    }

    .mainMenu .gnbMenu > li .subMenu {
        position: static;
        left: 0;
        width: 100%;
        height: auto;
        background-image: none;
        box-shadow: none;
        transition: 0.3s;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner {
        display: flex;
        width: 100%;
        padding: 0 20px 20px 20px;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > h3 {
        display: none;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        background-color: #fff;
        padding: 0;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > ul > li {
        width: calc(50% - 5px);
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > ul > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        height: 45px;
        background-color: #f4f5fa;
        border-radius: 6px;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > ul > li > ul {
        margin-top: 5px;
    }
    .mainMenu .gnbMenu > li .subMenu .submenu-inner > ul > li > ul > li > a {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        color: #414141;
        min-height: 40px;
        border-bottom: 1px solid #ddd;
        padding: 8px 0 8px 14px;
    }
    /** e: sub gnb**/

    .mainMenu .utilBox {
        display: none;
    }
    .mainMenu .m-utilBox {
        display: flex;
        justify-content: space-between;
    }
    .mainMenu .m-utilBox {
        width: 100%;
        background-color: #f7f7f7;
        padding: 10px 12px;
        z-index: 9999;
    }
    .mainMenu .m-utilBox > ul {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .mainMenu .m-utilBox > ul > li {
        font-weight: 500;
        border-right: 1px solid #ccc;
    }
    .mainMenu .m-utilBox > ul > li:last-child {
        border: none;
    }
    .mainMenu .m-utilBox > ul > li > a {
        display: block;
        line-height: 14px;
        padding: 0 8px;
    }

    #dropdownMenu {
        top: 58px;
        background-color: #fff;
        padding: 20px 14px;
    }
    #dropdownMenu.show {
        min-height: 195px;
    }
    .searchArea {
        width: 100%;
    }
    .searchArea .scForm input {
        line-height: 50px;
    }
    .searchArea .scForm a > img {
        width: 24px;
    }
    .searchArea .key {
        padding: 10px 0;
    }
    .searchArea .key span {
        padding: 2px 8px;
        margin: 3px;
    }

    #lnb-about-placeholder,
    #lnb-info-placeholder,
    #lnb-member-placeholder,
    #lnb-notice-placeholder,
    #lnb-sale-placeholder {
        display: none;
    }

    .subVisual {
        height: 160px;
    }
    .subVisual > div > h2 {
        font-size: 35px;
    }
    .subVisual > div > p {
        font-size: 14px;
        margin-top: 6px;
    }

    main {
        margin-top: 0;
        color: #111;
        padding-bottom: 50px;
    }
    .subWrap {
        display: block;
        width: 100%;
    }

    .subTitle {
        padding: 10px;
    }

    .content {
        padding: 0 10px;
        margin-top: 30px;
    }

    .search-box {
        padding: 15px;
    }
    .search-box .multi {
        gap: 5px;
    }
    .search-box select {
        line-height: 40px;
        padding: 0 20px 0 8px;
    }
    .search-box input[type="date"],
    .search-box .search-text input[type="text"] {
        line-height: 38px;
        padding: 0 6px 0 8px;
    }
    .search-box .search-text {
        height: 42px;
        width: auto;
        flex: 1;
    }
    .search-box .multi > div {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }
    .search-box .single label,
    .search-box .multi label {
        margin: 0 0 2px 3px;
    }
    .search-box .single label::after,
    .search-box .multi label::after {
        display: none;
    }
    .search-box .multi > div.flexfull {
        flex: 1;
        flex-direction: row;
    }
    .search-box .multi > div.btnset {
        flex-direction: row;
    }
    .btn-search,
    .btn-reset {
        width: 40px;
        height: 40px;
    }

    .schedule > div {
        flex: 1;
    }
    .schedule input[type="date"] {
        font-size: 14px;
        width: 105px;
    }
    .schedule > div i {
        margin: 0 4px;
    }
    .schedule > a {
        padding: 0 2px;
    }
    .schedule > a img {
        display: none;
    }

    /*table*/
    .tableArea {
        margin-top: 20px;
    }
    .tbList > li > a > dl {
        padding: 16px 6px;
    }
    .tbList > li > a > dl > dt {
        font-size: 16px;
    }
    .tbList > li > a > dl > dd {
        flex-wrap: wrap;
        padding-top: 0;
    }
    .tbList > li > a > dl > dd > p {
        align-items: center;
        padding: 3px 0;
        margin-right: 8px;
    }
    .tbList > li > a > dl > dd > p,
    .tbList > li > a > dl > dd > p > span {
        font-size: 12px;
    }
    .tbList > li > a > dl > dd > p > span {
        padding: 2px 6px;
        margin-right: 4px;
    }
    .tbList > li > a > dl > dd > p > strong,
    .tbList > li > a > dl > dd > p > strong.mon {
        min-width: auto;
    }

    .tbView > dl > dt {
        font-size: 18px;
    }
    .tbView > dl > dd {
        gap: 14px;
    }
    .tbView > dl > dd p > span {
        padding: 2px 5px;
        margin-right: 2px;
    }
    .tbView .detail {
        padding-bottom: 10px;
    }
    .tbView .detail > dl {
        padding: 10px;
    }
    .tbView .detail > dl > dt {
        margin-bottom: 6px;
    }
    .tbView .detail > dl > dt > span {
        display: none;
    }
    .tbView .detail .prenext > dl > dt {
        padding: 6px 10px;
    }

    .regiTable th {
        width: 10%;
        padding-left: 10px;
    }
    .regiTable th,
    .regiTable td {
        padding: 10px;
    }

    .addOpt {
        flex-direction: column;
    }
    .addOpt .order2 {
        order: 2;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .pasing {
        padding-top: 20px;
    }
    .pasing > ul > li > a {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }

    .footer-inner {
        width: 100%;
    }
    .footer-inner .footerLink {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .footer-inner .footerLink > ul {
        height: 60px;
    }
    .footer-inner .footerLink > ul > li {
        padding: 0 8px;
    }
    .footer-inner .footerInfo p.logo > img {
        width: 180px;
    }

    table .brb {
        display: block;
    }

    .d-btn {
        height: 40px;
        padding: 0 10px;
    }
    .deSelect {
        line-height: 40px;
        background: #fff url(../img/arrow-select.svg) no-repeat right 8px center;
        padding: 0 24px 0 10px;
    }

    .moBottom {
        align-items: flex-end;
    }

    .m-hidden {
        display: block;
    }
    .m-none {
        display: none;
    }

    /*1125*/
    .moBlock .pc {
        display: none;
    }
    .moBlock .mob {
        width: 100%;
        display: block;
    }
}
