@charset "UTF-8";

.searchArea {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.detail-area {
    display: flex;
    flex: 1;
}
.view-table {
    border-top: 1px solid #a0aada;
}
.view-table th {
    font-size: 15px;
    color: #363b3f;
    text-align: left;
    font-weight: 500;
    background-color: #eff1f3;
}
.view-table th::before {
    content: "· ";
    font-weight: bold;
}
.view-table th,
.view-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px 14px;
}
.view-table tr:last-child th,
.view-table tr:last-child td {
    border-bottom: 1px solid #a0aada;
}

.button-area {
    display: flex;
    gap: 5px;
}
.button-area .btnForm {
    width: 120px;
    padding: 0 20px;
}

.btnForm {
    display: block;
    background-color: #ccc;
    border-radius: 5px;
}
